span.badge {
  color: whitesmoke;
  padding: .1em;
  border: 1px solid darkslategrey;
  margin: .2em 0;
  display: inline-block;
  text-align: center;
  width: 3em;
}

span.badge.zero {
  background-color: darkorange
}

span.badge.post {
  background-color: forestgreen
}

span.badge.mkm {
  background-color: darkblue;
}
